body {
  width: 100%;
  height: 100vh;
  background-color: rgb(196, 220, 206);
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

canvas {
  width: 500px;
  height: 500px;
  border: 2px solid black;
}

#color_option {
  width: 60px;
  height: 45px;
  cursor: pointer;
}
.container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.colors {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 5px;
  padding-top: 30px;
}
